{% extends 'app/base.html' %} 
{% load static %}
{% block title %} <title>changepass</title> {% endblock title %}



  
{% block container %}
<div class="row mt-4">
    <div class="col-md-12">
        <h1 class="text-danger">Change Your Password Here !</h1>
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success h-2 alert-dismissible fade show" role="alert">
          <strong><i class="far fa-check-circle"></i>  Hurreh !</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
      {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} <span class="text-danger mx-3">{{fm.errors|striptags}}</span>  {{fm}} 
            {% endfor %}
            <input type="submit" class="btn btn-sm btn-primary" value="change"><br>
            <a href="{% url 'dashboard' %}">back to dashboard</a>
        </form> 
    </div>
</div>
 {% endblock container %}




<!-- 
{% block main %}

    <div class="row">
        <div class="col-md-12">
            <h1>Change Your Password Here !</h1>
            {% if messages %}
            {% for message in messages %}
    
            <div class="alert alert-success h-2 alert-dismissible fade show" role="alert">
              <strong><i class="far fa-check-circle"></i>  Hurreh !</strong> {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    
            {% endfor %}
          {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} <span class="text-danger mx-3">{{fm.errors|striptags}}</span>  {{fm}} 
                {% endfor %}
                <input type="submit" class="btn btn-sm btn-primary" value="change"><br>
                <a href="{% url 'dashboard' %}">back to dashboard</a>
            </form> 
        </div>
    </div>
   

{% endblock main %}
   -->